// Auth 0 Information
export const authConfig = {
	// TODO: Create an Auth0 application and copy values from it into this map
	domain: "XYZ.us.auth0.com", // Auth0 domain
	clientId: "adasd asd asd sad sada s", // Auth0 client id
	callbackUrl: "http://localhost:3000/callback",
}
